.nav-bar{
    background-color:#ec407a;
    width: 100%;
    height: 70px;
    
    
}    
/* 
.logo-container{
    width: 400px;
    display:flex;
    flex-direction: column;
    align-content:center
}

.logo{
    height:40px;
    width:40px;
    align-content:center
}  */

